* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.title {
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  padding: 1rem;
  background-color: #990c0c; }

input[type="text"] {
  height: 3rem;
  width: 80%;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5px;
  display: block;
  border-style: solid; }
  input[type="text"]:focus {
    box-shadow: 1px 2px 3px green;
    border: 1px solid green; }

.title-text {
  font-size: 4rem;
  background-color: #2a2b29;
  color: orange;
  height: 6rem;
  padding: 1rem;
  text-align: center;
  width: 80%;
  margin: 0 auto; }

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin: 15rem 6rem 2rem 6rem; }
  .countries .country {
    border-radius: 5%;
    height: 300px;
    width: 300px; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 6;
  display: none; }

.modal {
  position: relative;
  overflow: auto;
  margin: 3% auto;
  width: 70%;
  height: 80%;
  background-color: #eeeaea;
  box-shadow: 1px 2px 3px #4e0404;
  z-index: 7;
  display: none; }
  .modal .close {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
    padding: 0.5rem;
    padding-top: 0.06rem;
    padding-bottom: 0.06rem; }
    .modal .close:hover {
      background-color: #f00;
      color: wheat;
      border: 0.3px solid black; }

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  opacity: 1;
  transition: all 0.5s ease-in; }

.country-flag {
  width: 300px;
  height: 300px; }
  .country-flag:hover .bg {
    transform: scale(1.1);
    transition: all 0.5s ease-in; }

.country-details {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center; }
  .country-details:hover a {
    display: block;
    transition: all 0.5s ease-in;
    visibility: visible; }
  .country-details:hover .country-name,
  .country-details:hover .country-capital {
    transition: all 0.5s ease-in; }

.country-capital {
  color: white;
  font-size: 1rem;
  margin: 1rem auto; }

.country-name {
  color: white;
  font-size: 2rem;
  margin: 1rem auto; }

a.view {
  margin: 1rem auto;
  border: 0.3px solid red;
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 5%;
  transition: all 0.5s ease-in;
  visibility: hidden; }
  a.view:hover {
    background-color: #e22b13; }
